:root {
  --coral: #f05d5e;
  --teal: #0f7173;
  --light: #e7ecef;
  --dark: #272932;
  --camel: #d8a47f;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--light);
}

h1 {
  font-family: "Lato", sans-serif;
  font-size: 2.5rem;
}

h2 {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
}

header {
  background-color: var(--teal);
  padding: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 15px;
}

.nav-links a {
  color: var(--light);
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--coral);
}

h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
}

.cat-ipsum {
  font-family: "Lato", sans-serif;
  display: block;
  font-size: 1rem;
}

.card p {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

.card {
  padding: 10px;
  margin: 10px;
}

img {
  width: 250px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}

@media (min-width: 700px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.25rem;
  }

  .nav-links {
    flex-direction: column;
  }
  .nav-links li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 1.25rem;
  }

  .cat-ipsum {
    display: none;
  }

  .card p {
    font-size: 1rem;
  }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  .navbar {
    flex-direction: row;
  }

  .nav-links {
    flex-direction: row;
  }

  .nav-links li {
    margin-right: 15px;
  }

  h3 {
    font-size: 2.25rem;
  }

  .cat-ipsum {
    display: block;
    font-size: 2rem;
  }

  .card p {
    font-size: 2rem;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark);
    color: var(--light);
  }

  h1 {
    color: var(--light);
  }

  h2 {
    color: var(--light);
  }

  h3 {
    color: var(--light);
  }

  .cat-ipsum {
    color: var(--light);
  }

  .card p {
    color: var(--light);
  }
}
